@import url('../../colors.css');
.login-form {
  border-radius: 2rem;
  width: 30%;
  background-color: white;
  padding: 2rem;
  box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: -5px 4px 5px 0px rgba(31, 31, 31, 0.082);
  -moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.31);
}

.login-background {
  background-color: var(--primary-100);
}

.signin-btn {
    border-radius: 2rem;
    width: 40%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

p {
    font-size: 1.2rem;
}